<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin Ski - cos virtual.">
        <meta name="keywords" content="ski, schi, iarna, geaca, manusi, clăpari, ochelari, casca, bete, echipament ski, incaltaminte, reduceri,
    brand-uri, alpin ski, site schi, zăpadă, gheață, magazin ski, magazin online, snowboard,TheNorthFace">
        <title>Ski Shop - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
        <!--<link href ="/resurse/css/produs.css" type ="text/css" rel="stylesheet" />-->
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>