<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <meta name="description" content="Magazin Ski pentru tot ce-ti trebuie cand te duci sa skiezi.">
        <meta name="keywords" content="ski, iarna, frig, haine, partie">
        <title>Magazin Ski</title>
        <%- include("../fragmente/head.ejs")  %>
    </head>
    <body>
    <%- include("../fragmente/header.ejs")  %>
    <main>
        <h2>Despre Noi</h2>
    </main>

    <div id ="duotone_ef"></div>
    

    <%- include("../fragmente/footer.ejs")  %>

    </body>
</html>