html{
    font-size: 16px;
}

body{
    --spaiere-pagina: 30px;
    --padding-sectiune:10px;
}

#grid-pagina{
    display:grid;
    grid-template-columns: repeat(3,fr);
    grid-template-areas: 
        "z-prezentare z-prezentare "
    
                        "z-tabel z-tabel"
                        "z-statistici  z-info_faq"
                        "z-bestseller z-produse  "
                        "z-bestseller z-produse"
                        "z-recomandari z-produse"
                        "z-recomandari z-produse "
                        "z-parteneri z-parteneri"
                        ;
}