html{
    font-size: 12px;
}

body{
    --spaiere-pagina: 10px;
    --padding-sectiune:5px;
}

#grid-pagina{
    display: block;
}

grid-pagina > *{
    margin-bottom: 15px;
}

.tabel_{
    overflow-x: scroll;
}

img {
    width: 100%;
    max-width: 400px;
}
