<footer>
    <div id="buton-varf">
    <a href="#" id="sageata"> <span class="text">In varf</span></a>
</div>
    <p>Pentru contact :</p>
    <br>

    Email
    <a href="mailto:landonski@gmail.com">landonski@gmail.com</a>
    <br>
    Ne poti apela la numarul de telefon :
    <a href="tel:0771353308">0771353308</a>
    <br>
    Contactează-ne pe whatsapp
    <a href="https://api.whatsapp.com/send?phone=+40771353308">Whatsapp</a>
    <address>
        <a href="Universitatea din București, Strada Atomiștilor 405, Măgurele 077125" target="_blank">Strada
            Atomiștilor 405, Magurele</a>
    </address>
    <p id="watermark"></p>
    <p id="banner" class="cookie-banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
    <p id="ultima_accesare">Ultima accesare: </p>
</footer>
<small>
    Copyright &copy;
</small>
<br>
<time datetime="2023-03-06">6 Martie 2023</time>