<script src="/resurse/js/tema.js"></script>
<header class="c1" id="h1" >
    <h1>Magazin ski</h1>
   
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <i class="fa fa-bars"></i>
    </label>
    <input id="ch-menu" type="checkbox">
    <div id = "sus">
    <ul class = "meniu">
        <li class><div id = "acasa">            
            <a href="#">Acasă</a></div>
            <div id = "acasa-mediu">
            <i class = "fa fa-home"></i> </div>
        </li>
        <li>
            <a href="#recomandari">Recomandari</a>
        </li>
        <li><a href="#produse">Produse</a>
            <ul>
                <li><a href="#promotie">Promotii!</a></li>
                <li><a href="#bestseller">Cele mai vandute!</a></li>
            </ul>
        </li>
    </ul>
</div>
</nav>